body{
    width: 100%;
    height: 100vh;
    background-image: url(../view/wallpaper_carta.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
  }