body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(180, 120, 220, 0.3), rgba(180, 120, 220, 0.3)),
  url('../view/wallpaper_fatos.webp');  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1000px;
  width:100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  height: 320px;
  background-color: #4B0082;
  background: linear-gradient(135deg,#ffffff, rgb(221, 31, 255));
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(58,0,102,0.4);
  overflow: hidden;
  margin-bottom: 40px;
  transition: transform 0.3s ease;
}

.card:hover {
  background-color: #7D3C98;
  transition: background-color 0.3s ease;
  transform: translateY(-5px);
}

.card.invertido {
  flex-direction: row-reverse;
}

.card img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.card-texto {
  text-align: center;
  padding: 0 20px;
  color: #4b2673;
  flex: 1;
}

.card-texto h2 {
  color: #4B0082;
  margin: 0;
  font-size: 24px;
}

@media (max-width: 768px) {
  .card, .card.invertido {
    flex-direction: column;
  }

  .card img {
    width: 100%; /* Largura 100% da tela */
    height: 200px; /* Definindo altura fixa também em telas pequenas */
    object-fit: cover; /* Mantém a cobertura da imagem */
  }

  .card-texto {
    text-align: center;
    padding: 20px;
  }
}
