<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cartinha nº 8</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/cartinha.css'>
    <link rel='icon' type="image/icon" href="../view/carta-de-amor.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
</head>

<body>
    <div class="container">
    <div class="carta">
        <h1>"As estrelas estão mais brilhantes"</h1>
        <p>
            De acordo com muita gente, a paixão dura em torno de 3 meses. Eu nunca entendi essa lógica, e continuo não acreditando. 
            A paixão não deveria acabar, mesmo que o amor venha e seja maior que ela, mas ela sempre vai estar ali junto dele. 
            Completamos 4 meses hoje, meu bem, e eu não poderia estar mais apaixonada por você.
        </p>
        <p>
            Eu sigo sentindo as borboletas no estômago sempre que te vejo, parece que elas não se acostumam com a sua presença, 
            e eu dou graças a Deus por isso. É sempre uma sensação gostosa te ver pela primeira vez no dia, e pela terceira, quinta, 
            décima, centésima... eu volto a ser uma adolescente suspirando ao assistir ao seu primeiro filme de romance.
        </p>
        <p>
            Eu me sinto essa adolescente cada segundo que estamos juntas, rindo em praças de alimentação de shoppings, deitadas no sofá da sala ou na grama de um parque.
            Eu quero me sentir essa adolescente pro resto da minha vida, com você sendo a razão por trás de todas as risadas e suspiros.
            A minha paixão por você nunca vai acabar, ela vai continuar andando lado a lado com todo o amor no meu coração.
        </p>
        <p>
            Em nenhum livro de romance, nem filmes ou séries eu poderia encontrar alguém tão perfeita para mim como você. 
            Não vou listar suas qualidades porque já fiz isso em outra tela haha, mas eu te amo por todas elas e todas as outras que ainda vou 
            conhecer, pois quero evoluir junto com você.
        </p>
        <p>
            Que venham mais 444.444 meses ao seu lado, dá em torno de 37.037 anos daqui pra frente, mas quem sabe a humanidade 
            resolve o aquecimento global ou mude para outro planeta e o nosso amor continue nas próximas vidas extraterrestres. 
        </p>
        <p>
            "I should be over all the butterflies
        </p>    
        <p>
            But I'm into you (I'm into you)
        </p>    
        <p>
            And, baby, even on our worst nights
        </p>
        <p> 
            I'm into you (I'm into you)"
        </p>
        <p class="assinatura">
          Feliz 4 meses gatinha<br>
          Te amo&#128156
        </p>
      </div>
      

 </body>

</html>