<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Fatos Isa(bella)</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/fatos_isa.css'>
    <link rel='icon' type="image/icon" href="../view/fatos_isa.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
    <script type="text/javascript" src='../js/fatos_isa.js'></script>
</head>
<body>
  <h2 style="text-align:center; color:darkmagenta;">20 Coisas Que Eu Amo Em Você</h2>

<div class="container">
  <div class="card">
    <img src="../view/isa_wanda.jpeg" alt="Imagem 1 esquerda">
    <div class="card-texto">
      <h2>🧿Seus olhos</h2>
      <h2>🧿Seu cabelo</h2>
      <h2>🧿Seus piercings</h2>
      <h2>🧿Seu sorriso</h2>
    </div>
    <img src="../view/isa_sol.jpeg" alt="Imagem 1 direita">
  </div>

  <div class="card invertido">
    <img src="../view/isa_beijinho.jpeg" alt="Imagem 2 esquerda">
    <div class="card-texto">
      <h2>💜Os seus ataques de bobeira</h2>
      <h2>💜Cada marquinha sua</h2>
      <h2>💜O fato de você ter cócegas em QUALQUER parte do corpo</h2>
      <h2>💜Os seus olhos de quando você acaba de acordar</h2>
    </div>
    <img src="../view/isa_foto_espelho.jpeg" alt="Imagem 2 direita">
  </div>

  <div class="card">
    <img src="../view/isa_aquario_gatinho_deboche.jpeg" alt="Imagem 3 esquerda">
    <div class="card-texto">
      <h2>🔮O seu cheiro</h2>
      <h2>🔮A sua criatividade</h2>
      <h2>🔮A sua cara quando fica com vergonha</h2>
      <h2>🔮A sua personalidade de tia do pavê</h2>
    </div>
    <img src="../view/isa_aquario.jpeg" alt="Imagem 3 direita">
  </div>
  
  <div class="card invertido">
    <img src="../view/isa_anonovo_lindoia.jpeg" alt="Imagem 4 esquerda">
    <div class="card-texto">
      <h2>🌌Suas tatuagens</h2>
      <h2>🌌O seu guarda roupa ser 90% preto</h2>
      <h2>🌌Você saber fazer um delineado em 5 minutos</h2>
      <h2>🌌Você ter cara de durona mas na verdade é sensível e chora assistindo desenho</h2>
    </div>
    <img src="../view/isa_natal.jpeg" alt="Imagem 4 direita">
  </div>

  <div class="card invertido">
    <img src="../view/livro_starbucks.jpeg" alt="Imagem 5 esquerda">
    <div class="card-texto">
      <h2>🪻O seu gosto musical</h2>
      <h2>🪻O seu abraço</h2>
      <h2>🪻A sua voz</h2>
      <h2>🪻Suas histórias malucas de fangirl (e até as não tão malucas assim)</h2>
    </div>
    <img src="../view/isa_assim.jpeg" alt="Imagem 5 direita">
  </div>
</div>

</body>

</html>