<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Momentos Marcantes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/momentos.css'>
    <link rel='icon' type="image/icon" href="../view/momentos.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
    <script type="text/javascript" src='../js/momentos.js'></script>
</head>

<body>
  <div class="music-container">
    <div class="music tooltip" onclick="abrirDisco(this)">
        <img class="vinil" src="../view/disco_momentos.png" alt="Disco 1">
        <div class="conteudo">
            <audio preload="auto">
                <source src="../musicas/photograph.mpeg" type="audio/mp3">
            </audio>
        </div>
    </div>
</div>
  <h2 style="text-align:center; color:maroon;"> 📸 We keep this love in a photograph 🎞️</h2>
  <div class="polaroid-container">
    <div class="polaroid">
      <img src="../view/primeiro_bilhetinho.jpeg" alt="Foto 1">
      <p class="caption">O primeiro bilhete</p>
    </div>
    <div class="polaroid">
      <img src="../view/sucos_torta.jpeg" alt="Foto 2">
      <p class="caption">O segundo date</p>
    </div>
    <div class="polaroid">
      <img src="../view/mesa_friends.jpeg"alt="Foto 3">
      <p class="caption">A exposição de F.R.I.E.N.D.S</p>
    </div>
  </div>

  <div class="polaroid-container">
    <div class="polaroid">
      <img src="../view/cristinho.jpeg" alt="Foto 5">
      <p class="caption">Nossa primeira viagem</p>
    </div>
    <div class="polaroid">
      <img src="../view/urso_gigante.jpeg" alt="Foto 5">
      <p class="caption">O urso da loja de chocolate</p>
    </div>
    <div class="polaroid">
      <img src="../view/casais_cristinho.jpeg" alt="Foto 6">
      <p class="caption">O casal que a gente arrastou pra primeira viagem rs</p>
    </div>
  </div>
  

  <div class="polaroid-container">
    <div class="polaroid">
      <img src="../view/ursinho&Isa.jpeg" alt="Foto 4">
      <p class="caption">Você e seu irmão perdido</p>
    </div>
    <div class="polaroid">
      <img src="../view/sol&lua.jpeg" alt="Foto 4">
      <p class="caption">Nosso primeiro carnaval</p>
    </div>
    <div class="polaroid">
      <img src="../view/carro_surpresa_faculdade.jpeg" alt="Foto 3">
      <p class="caption">"MINTIRA"</p>
    </div>
  </div>
  

  <div class="polaroid-container">
    <div class="polaroid">
      <img src="../view/madrinha.jpeg" alt="Foto 1">
      <p class="caption">O dia que minha madrinha conheceu você</p>
    </div>
    <div class="polaroid">
      <img src="../view/isa_fotografa_aquario.jpeg" alt="Foto 1">
      <p class="caption">O tão esperado dia do aquário</p>
    </div>
    <div class="polaroid">
      <img src="../view/familia_isa.jpeg" alt="Foto 1">
      <p class="caption">Eu conhecendo sua família</p>
    </div>
  </div>

  <div class="polaroid-container">
    <div class="polaroid">
      <img src="../view/selfie_gongada.jpeg" alt="Foto 1">
      <p class="caption">Gongada Drag</p>
    </div>
    <div class="polaroid">
      <img src="../view/filme.jpeg" alt="Foto 4">
      <p class="caption">Assistindo filme pelo meet (era pra ser After na foto)</p>
    </div>
    <div class="polaroid">
      <img src="../view/isa_banco_parque.jpeg" alt="Foto 1">
      <p class="caption">I + I = ♡ </p>
    </div>
  </div>
 </body>

</html>