<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Músicas Favoritas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/musicas.css'>
    <link rel='icon' type="image/icon" href="../view/notas-musicais.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
    <script type="text/javascript" src='../js/musicas.js'></script>
</head>

<body>
    <section class="form-container"></section>
    <div class="carta">
        <h1>Querido(a) [Nome],</h1>
        <p>
          Espero que esta mensagem te encontre bem. Queria apenas tirar um momento para dizer o quanto você é importante para mim. 
          Seus gestos, palavras e presença fazem toda a diferença nos meus dias.
        </p>
        <p>
          Que você tenha sempre motivos para sorrir e forças para enfrentar qualquer desafio. Nunca se esqueça do quanto você é especial.
        </p>
        <p class="assinatura">
          Com carinho,<br>
          [Seu Nome]
        </p>
      </div>
      

 </body>

</html>