<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Músicas Favoritas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/musicas.css'>
    <link rel='icon' type="image/icon" href="../view/notas-musicais.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
    <script type="text/javascript" src='../js/musicas.js'></script>
</head>

<body>
    <h2 style="text-align:center; color:darkmagenta;">Clique em um disco e revele uma música🎶</h2>

 <div class="linha-disco esquerda" onclick="abrirDisco(this)">
  <img class="vinil" src="../view/vinil.png" alt="Disco 1">
  <div class="conteudo">
    <img src="../view/ursinhos.jpeg" alt="Capa do álbum">
    <p>Essa música tocou no nosso primero encontro, no lugar das máquinas de pegar bichinho.</p>
    <audio preload="auto">
      <source src="../musicas/One Direction - Drag Me Down (Audio).mp3" type="audio/mp3">
    </audio>
  </div>
</div>

<div class="linha-disco direita" onclick="abrirDisco(this)">
  <img class="vinil" src="../view/vinil.png" alt="Disco 2">
  <div class="conteudo">
    <img src="view/lua_cobertor.jpg" alt="Capa do álbum">
    <p>Essa música também tocou no primeiro encontro, na Avenida Paulista.</p>
    <audio preload="auto">
      <source src="musicas/musica2.mp3" type="audio/mp3">
    </audio>
  </div>
</div>

<div class="linha-disco esquerda" onclick="abrirDisco(this)">
  <img class="vinil" src="../view/vinil.png" alt="Disco 3">
  <div class="conteudo">
    <img src="view/chuva_dancando.jpg" alt="Capa do álbum">
    <p>Planos Impossíveis - Manu Gavassi</p>
    <audio preload="auto">
      <source src="musicas/musica3.mp3" type="audio/mp3">
    </audio>
  </div>
</div>

<div class="linha-disco direita" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 4">
    <div class="conteudo">
      <img src="view/lua_cobertor.jpg" alt="Capa do álbum">
      <p>Alinhamento Milenar</p>
      <audio preload="auto">
        <source src="musicas/musica2.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
  
  <div class="linha-disco esquerda" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 5">
    <div class="conteudo">
      <img src="view/chuva_dancando.jpg" alt="Capa do álbum">
      <p>Truly Madly Deeply</p>
      <audio preload="auto">
        <source src="musicas/musica3.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>

  <div class="linha-disco direita" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 6">
    <div class="conteudo">
      <img src="view/lua_cobertor.jpg" alt="Capa do álbum">
      <p>Eu amo você - Tim Maia</p>
      <audio preload="auto">
        <source src="musicas/musica2.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
  
  <div class="linha-disco esquerda" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 7">
    <div class="conteudo">
      <img src="view/chuva_dancando.jpg" alt="Capa do álbum">
      <p>Hey There Delilah</p>
      <audio preload="auto">
        <source src="musicas/musica3.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>

  <div class="linha-disco direita" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 8">
    <div class="conteudo">
      <img src="view/lua_cobertor.jpg" alt="Capa do álbum">
      <p>They Don't Know About Us</p>
      <audio preload="auto">
        <source src="musicas/musica2.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
  
  <div class="linha-disco esquerda" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 9">
    <div class="conteudo">
      <img src="view/chuva_dancando.jpg" alt="Capa do álbum">
      <p>Always Remember Us This Way</p>
      <audio preload="auto">
        <source src="musicas/musica3.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>

  <div class="linha-disco direita" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 10">
    <div class="conteudo">
      <img src="view/lua_cobertor.jpg" alt="Capa do álbum">
      <p>Quero Contar pra São Paulo</p>
      <audio preload="auto">
        <source src="musicas/musica2.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
  
  <div class="linha-disco esquerda" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 11">
    <div class="conteudo">
      <img src="view/chuva_dancando.jpg" alt="Capa do álbum">
      <p>As Long As You Love Me</p>
      <audio preload="auto">
        <source src="musicas/musica3.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>

  <div class="linha-disco direita" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 12">
    <div class="conteudo">
      <img src="view/lua_cobertor.jpg" alt="Capa do álbum">
      <p>Never Let You Go (Aquario)</p>
      <audio preload="auto">
        <source src="musicas/musica2.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
 </body>

</html>