<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Músicas Favoritas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/musicas.css'>
    <link rel='icon' type="image/icon" href="../view/notas-musicais.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
    <script type="text/javascript" src='../js/musicas.js'></script>
</head>

<body>
    <h2 style="text-align:center; color:darkmagenta;">Clique em um disco e revele uma música🎶</h2>

 <div class="linha-disco esquerda" onclick="abrirDisco(this)">
  <img class="vinil" src="../view/vinil.png" alt="Disco 1">
  <div class="conteudo">
    <img src="../view/ursinhos.jpeg" alt="Capa do álbum">
    <p>Essa música me lembra o primeiro encontro, no lugar das máquinas de pegar bichinho.</p>
    <audio preload="auto">
      <source src="../musicas/One Direction - Drag Me Down (Audio).mp3" type="audio/mp3">
    </audio>
  </div>
</div>

<div class="linha-disco direita" onclick="abrirDisco(this)">
  <img class="vinil" src="../view/vinil.png" alt="Disco 2">
  <div class="conteudo">
    <img src="view/lua_cobertor.jpg" alt="Capa do álbum">
    <p>Essa aqui eu nem preciso descrever, praticamente o nosso elo a Avenida Paulista.</p>
    <audio preload="auto">
      <source src="../musicas/Djavan - Eu Te Devoro (Áudio Oficial).mp3" type="audio/mp3">
    </audio>
  </div>
</div>

<div class="linha-disco esquerda" onclick="abrirDisco(this)">
  <img class="vinil" src="../view/vinil.png" alt="Disco 3">
  <div class="conteudo">
    <img src="../view/pedra_lindoia.jpeg" alt="Capa do álbum">
    <p>Essa é um pouco engraçada, eu não esperava que essa fosse virar uma das minhas favoritas, mas ela define muito bem como me sinto toda vez que a gente se despede.</p>
    <audio preload="auto">
      <source src="../musicas/Planos Impossíveis.mp3" type="audio/mp3">
    </audio>
  </div>
</div>

<div class="linha-disco direita" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 4">
    <div class="conteudo">
      <img src="../view/rindo_rodagigante.jpeg" alt="Capa do álbum">
      <p>Essa já está na página inicial, mas ela não pode ficar de fora dessa lista. Nosso encontro foi um alinhamento milenar, sem sombra de dúvida.</p>
      <audio preload="auto">
        <source src="../musicas/Jão - Alinhamento Milenar (Lyric Video) [A42ERJlitLE].mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
  
  <div class="linha-disco esquerda" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 5">
    <div class="conteudo">
      <img src="view/chuva_dancando.jpg" alt="Capa do álbum">
      <p>Essa marcou aquele começo de namoro, a música que a gente pensava em postar no Instagram. O tempo e as postagens passaram mas eu ainda te amo verdadeiramente, loucamente e profundamente.</p>
      <audio preload="auto">
        <source src="../musicas/One Direction - Truly Madly Deeply (Audio).mp3" type="audio/mp3">
      </audio>
    </div>
  </div>

  <div class="linha-disco direita" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 6">
    <div class="conteudo">
      <img src="view/lua_cobertor.jpg" alt="Capa do álbum">
      <p>Essa já esteve presente em carta hihi. Mas essa está no conjunto das 3 músicas que marcou o dia 12. Se eu fechar os olhos ainda posso ouvir seu vizinho cantando.</p>
      <audio preload="auto">
        <source src="../musicas/Eu Amo Você.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
  
  <div class="linha-disco esquerda" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 7">
    <div class="conteudo">
      <img src="view/chuva_dancando.jpg" alt="Capa do álbum">
      <p>"Oooooooh WhAt YoU Dooo Tooo Miiiii"</p>
      <p>(Infelizmente Let It Go não está na lista porque ela não está na playlist)</p>
      <audio preload="auto">
        <source src="../musicas/Hey There Delilah.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>

  <div class="linha-disco direita" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 8">
    <div class="conteudo">
      <img src="../view/beijo_rodagigante.jpeg" alt="Capa do álbum">
      <p>Essa me marcou logo em seguida ao pedido. Aquela agonia pra contar pro mundo inteiro ouvir.</p>
      <audio preload="auto">
        <source src="../musicas/One Direction - They Don't Know About Us (Audio).mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
  
  <div class="linha-disco esquerda" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 9">
    <div class="conteudo">
      <img src="view/chuva_dancando.jpg" alt="Capa do álbum">
      <p>Essa foi a primeira música que eu tirei do potinho. Foi aqui que comecei a ver o seu ponto de vista "musicalmente" falando.</p>
      <audio preload="auto">
        <source src="../musicas/Lady Gaga - Always Remember Us This Way (Official Audio).mp3" type="audio/mp3">
      </audio>
    </div>
  </div>

  <div class="linha-disco direita" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 10">
    <div class="conteudo">
      <img src="../view/beijo_no_alto.jpeg" alt="Capa do álbum">
      <p>A versão brasileira de They Don't Know About Us hihihi mas é ainda melhor porque de todos os estados brasileiros possíveis, usaram logo o nosso. Quase fui para a Av. Paulista com um megafone gritar o quanto eu te amo.</p>
      <audio preload="auto">
        <source src="../musicas/ANAVITÓRIA - Quero contar pra São Paulo.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
  
  <div class="linha-disco esquerda" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 11">
    <div class="conteudo">
      <img src="../view/segurando_rosto_parque.jpeg" alt="Capa do álbum">
      <p>Essa sempre me pega porque ela resume bem muita coisa. Enquanto você ainda me amar, eu vou fazer o possível e o impossível pra te ter comigo. Se eu tenho você, nada mais importa.</p>
      <audio preload="auto">
        <source src="../musicas/Justin Bieber - As Long As You Love Me ft. Big Sean (Official Audio).mp3" type="audio/mp3">
      </audio>
    </div>
  </div>

  <div class="linha-disco direita" onclick="abrirDisco(this)">
    <img class="vinil" src="../view/vinil.png" alt="Disco 12">
    <div class="conteudo">
      <img src="../view/beijo_aquario.jpeg" alt="Capa do álbum">
      <p>Não me mate KKKKKKKKKKKK mas você vai ter que aceitar essa declaração pois a letra é bem guê e ainda encaixa no dia do aquário. Nunca vou esquecer aquele dia. </p>
      <audio preload="auto">
        <source src="../musicas/Justin Bieber - Never Let You Go.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
 </body>

</html>